<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de Multiplixar</title>
</head>
<body>
    <header>
        <hr>
        <center>
            <h2>Tabñla de Multiplicar</h2>
        </center>
    </header>
 <section>
    <form action="/tabla" method="post">
    <label for="">Tabla</label>
    <input type="number" id="numero" name="numero"value= <%=numero%> required>
    <button type="submit">Enviar Informacion</button>
    <button type="reset">Limpiar</button>

    <%
    let res = 0;
    if (numero!=null){
        for(con=1; con<=10; ++con){
            res =numero*con;
%>
            <h3><%=numero%> *<%=con%> =<%=res%></h3>

            <%
        }
    }

    %>
    </form>
</section>    
</body>
</html>